USE [master]
GO
/****** Object:  Database [PRN221_StudentManagementSystem]    Script Date: 3/21/2024 9:23:27 AM ******/
CREATE DATABASE [PRN221_StudentManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'prj_prn221_student_manager_system', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\prj_prn221_student_manager_system.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'prj_prn221_student_manager_system_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\prj_prn221_student_manager_system_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN221_StudentManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN221_StudentManagementSystem]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[admin_name] [varchar](255) NOT NULL,
	[phone] [varchar](12) NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Subject]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Subject](
	[class_subject_id] [varchar](255) NOT NULL,
	[slot] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[room] [varchar](255) NOT NULL,
	[lecture_id] [varchar](255) NOT NULL,
	[subject_id] [varchar](255) NOT NULL,
	[number_of_students] [int] NOT NULL,
	[class_id] [int] NULL,
 CONSTRAINT [PK__Class_Su__DAA4A24DED7050B1] PRIMARY KEY CLUSTERED 
(
	[class_subject_id] ASC,
	[slot] ASC,
	[date] ASC,
	[room] ASC,
	[lecture_id] ASC,
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_className] [varchar](500) NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Schedule]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Schedule](
	[exam_schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[room] [varchar](255) NOT NULL,
	[type_of_exam] [varchar](255) NOT NULL,
	[date] [datetime] NOT NULL,
	[time_from] [varchar](50) NOT NULL,
	[time_to] [varchar](50) NOT NULL,
	[date_of_public] [date] NOT NULL,
	[date_of_resit] [date] NULL,
	[time_from_resit] [varchar](50) NULL,
	[time_to_resit] [varchar](50) NULL,
	[date_of_public_resit] [date] NULL,
	[lecture_id] [varchar](255) NOT NULL,
	[subject_id] [varchar](255) NOT NULL,
	[semester_id] [int] NULL,
 CONSTRAINT [PK__Exam_Sch__6E72E9D1E7A51E9C] PRIMARY KEY CLUSTERED 
(
	[exam_schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Excercies]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Excercies](
	[exercise_name] [varchar](255) NOT NULL,
	[percentage] [real] NOT NULL,
	[dateline] [datetime] NOT NULL,
	[subject_id] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Excercie__44AB11D9D8E394E5] PRIMARY KEY CLUSTERED 
(
	[exercise_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[lecture_id] [varchar](255) NOT NULL,
	[lecture_name] [varchar](255) NOT NULL,
	[lecture_email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[dob] [datetime] NULL,
	[phone] [varchar](12) NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lecture_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[major_id] [varchar](255) NOT NULL,
	[major_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[room_id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[semester_id] [int] IDENTITY(1,1) NOT NULL,
	[class_semester_name] [varchar](500) NULL,
	[year] [int] NOT NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[semester_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_id] [varchar](255) NOT NULL,
	[student_name] [varchar](255) NOT NULL,
	[student_email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[dob] [datetime] NULL,
	[phone] [varchar](12) NULL,
	[semester] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[major_id] [varchar](255) NOT NULL,
	[gender] [bit] NULL,
	[isActive] [bit] NULL,
	[class_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students_Exam_Schedule]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students_Exam_Schedule](
	[student_id] [varchar](255) NOT NULL,
	[exam_schedule_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[exam_schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students_Excercies]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students_Excercies](
	[student_id] [varchar](255) NOT NULL,
	[exercise_name] [varchar](255) NOT NULL,
	[mark] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[exercise_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 3/21/2024 9:23:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[subject_id] [varchar](255) NOT NULL,
	[subject_name] [varchar](255) NOT NULL,
	[credit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([username], [password], [admin_name], [phone], [role_id]) VALUES (N'admin@gmail.com', N'123', N'Admin', N'0943317918', 1)
GO
INSERT [dbo].[Class_Subject] ([class_subject_id], [slot], [date], [room], [lecture_id], [subject_id], [number_of_students], [class_id]) VALUES (N'GD1611-ID', 1, CAST(N'2023-10-25T00:00:00.000' AS DateTime), N'DE231', N'huongnt7', N'PRN221', 26, 3)
INSERT [dbo].[Class_Subject] ([class_subject_id], [slot], [date], [room], [lecture_id], [subject_id], [number_of_students], [class_id]) VALUES (N'GD1611-ID', 2, CAST(N'2023-11-02T00:00:00.000' AS DateTime), N'BE523', N'HE333333', N'CSI103', 27, 3)
INSERT [dbo].[Class_Subject] ([class_subject_id], [slot], [date], [room], [lecture_id], [subject_id], [number_of_students], [class_id]) VALUES (N'GD1611-ID', 2, CAST(N'2023-12-19T00:00:00.000' AS DateTime), N'BE222', N'HE555555', N'EN062', 25, 4)
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([class_id], [class_className]) VALUES (1, N'SE1701')
INSERT [dbo].[Classes] ([class_id], [class_className]) VALUES (2, N'SE1702')
INSERT [dbo].[Classes] ([class_id], [class_className]) VALUES (3, N'SE1703')
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Exam_Schedule] ON 

INSERT [dbo].[Exam_Schedule] ([exam_schedule_id], [room], [type_of_exam], [date], [time_from], [time_to], [date_of_public], [date_of_resit], [time_from_resit], [time_to_resit], [date_of_public_resit], [lecture_id], [subject_id], [semester_id]) VALUES (1, N'AL111L', N'PEA', CAST(N'2023-01-01T00:00:00.000' AS DateTime), N'07:30', N'09:00', CAST(N'2023-01-08' AS Date), CAST(N'2023-01-15' AS Date), N'10:30', N'12:00', CAST(N'2023-01-22' AS Date), N'HE101010', N'ECC301', NULL)
INSERT [dbo].[Exam_Schedule] ([exam_schedule_id], [room], [type_of_exam], [date], [time_from], [time_to], [date_of_public], [date_of_resit], [time_from_resit], [time_to_resit], [date_of_public_resit], [lecture_id], [subject_id], [semester_id]) VALUES (2, N'AL132R', N'FE', CAST(N'2023-01-02T00:00:00.000' AS DateTime), N'14:10', N'15:40', CAST(N'2023-01-09' AS Date), CAST(N'2023-01-16' AS Date), N'16:40', N'18:10', CAST(N'2023-01-23' AS Date), N'HE111111', N'SWR302', NULL)
INSERT [dbo].[Exam_Schedule] ([exam_schedule_id], [room], [type_of_exam], [date], [time_from], [time_to], [date_of_public], [date_of_resit], [time_from_resit], [time_to_resit], [date_of_public_resit], [lecture_id], [subject_id], [semester_id]) VALUES (3, N'AL232L', N'TE', CAST(N'2023-01-03T00:00:00.000' AS DateTime), N'07:30', N'09:00', CAST(N'2023-01-10' AS Date), CAST(N'2023-01-17' AS Date), N'10:30', N'12:00', CAST(N'2023-01-24' AS Date), N'HE222222', N'DGT302', NULL)
SET IDENTITY_INSERT [dbo].[Exam_Schedule] OFF
GO
INSERT [dbo].[Excercies] ([exercise_name], [percentage], [dateline], [subject_id]) VALUES (N'Exercise1', 0.31, CAST(N'2023-10-03T00:00:00.000' AS DateTime), N'ECC301')
INSERT [dbo].[Excercies] ([exercise_name], [percentage], [dateline], [subject_id]) VALUES (N'Exercise10', 0.31, CAST(N'2023-10-03T00:00:00.000' AS DateTime), N'ERW412')
INSERT [dbo].[Excercies] ([exercise_name], [percentage], [dateline], [subject_id]) VALUES (N'Exercise100', 0.31, CAST(N'2023-10-03T00:00:00.000' AS DateTime), N'BJP_ELE')
GO
INSERT [dbo].[Lectures] ([lecture_id], [lecture_name], [lecture_email], [password], [dob], [phone], [role_id]) VALUES (N'HE101010', N'Nguyen Dang Long', N'longndhe101010@fpt.edu.vn', N'2', CAST(N'1888-08-08T00:00:00.000' AS DateTime), N'101010XXXX', 2)
INSERT [dbo].[Lectures] ([lecture_id], [lecture_name], [lecture_email], [password], [dob], [phone], [role_id]) VALUES (N'HE111111', N'Le Van Chung', N'chunglvhe111111@fpt.edu.vn', N'2', CAST(N'1984-01-03T00:00:00.000' AS DateTime), N'1111111XXX', 2)
INSERT [dbo].[Lectures] ([lecture_id], [lecture_name], [lecture_email], [password], [dob], [phone], [role_id]) VALUES (N'HE222222', N'Chu Thi Minh Huy', N'huetmhhe222222@fpt.edu.vn', N'2', CAST(N'1999-12-04T00:00:00.000' AS DateTime), N'2222222XXX', 2)
GO
INSERT [dbo].[Majors] ([major_id], [major_name]) VALUES (N'AI', N'Artificial Intelligence')
INSERT [dbo].[Majors] ([major_id], [major_name]) VALUES (N'GD', N'Graphic Design')
INSERT [dbo].[Majors] ([major_id], [major_name]) VALUES (N'IS', N'Information Security')
GO
INSERT [dbo].[Rooms] ([room_id]) VALUES (N'AL111L')
INSERT [dbo].[Rooms] ([room_id]) VALUES (N'AL132R')
INSERT [dbo].[Rooms] ([room_id]) VALUES (N'AL232L')
GO
INSERT [dbo].[Students] ([student_id], [student_name], [student_email], [password], [dob], [phone], [semester], [role_id], [major_id], [gender], [isActive], [class_id]) VALUES (N'HE134234', N'Nguyen Van Kien', N'kiennvhe134234@fpt.edu.vn', N'1', CAST(N'1999-05-12T00:00:00.000' AS DateTime), N'1231234XXX', 9, 3, N'AI', 1, 1, NULL)
INSERT [dbo].[Students] ([student_id], [student_name], [student_email], [password], [dob], [phone], [semester], [role_id], [major_id], [gender], [isActive], [class_id]) VALUES (N'HE143000', N'Nguyen Thi Hong', N'hongnthe143000@fpt.edu.vn', N'1', CAST(N'2000-01-31T00:00:00.000' AS DateTime), N'1221212XXX', 6, 3, N'MKT', 0, 1, NULL)
INSERT [dbo].[Students] ([student_id], [student_name], [student_email], [password], [dob], [phone], [semester], [role_id], [major_id], [gender], [isActive], [class_id]) VALUES (N'HE143232', N'Nguyen Dinh Huy', N'huyndhe143232@fpt.edu.vn', N'1', CAST(N'2004-12-11T00:00:00.000' AS DateTime), N'2323238XXX', 4, 3, N'AI', 1, 1, NULL)
GO
INSERT [dbo].[Students_Exam_Schedule] ([student_id], [exam_schedule_id]) VALUES (N'HE134234', 1)
INSERT [dbo].[Students_Exam_Schedule] ([student_id], [exam_schedule_id]) VALUES (N'HE134234', 14)
INSERT [dbo].[Students_Exam_Schedule] ([student_id], [exam_schedule_id]) VALUES (N'HE134234', 27)
GO
INSERT [dbo].[Students_Excercies] ([student_id], [exercise_name], [mark]) VALUES (N'HE134234', N'Exercise1', 7.99)
INSERT [dbo].[Students_Excercies] ([student_id], [exercise_name], [mark]) VALUES (N'HE134234', N'Exercise14', 7.99)
INSERT [dbo].[Students_Excercies] ([student_id], [exercise_name], [mark]) VALUES (N'HE134234', N'Exercise18', 8.01)
GO
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [credit]) VALUES (N'2DP491', N'Digital project 2D', 3)
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [credit]) VALUES (N'3DP491', N'Digital project 3D', 3)
INSERT [dbo].[Subjects] ([subject_id], [subject_name], [credit]) VALUES (N'AAD305b', N'Final Project - Automotive Application Development', 5)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__B43B145F895A80E4]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lectures__B43B145FB2719904]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Lectures] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Lectures__DADF7035E460882C]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Lectures] ADD UNIQUE NONCLUSTERED 
(
	[lecture_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Majors__B2815F7A6E93E39A]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Majors] ADD UNIQUE NONCLUSTERED 
(
	[major_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__820A8F3E1144F201]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[student_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__B43B145FB1EA2B2E]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Subjects__40817661D499C7D5]    Script Date: 3/21/2024 9:23:27 AM ******/
ALTER TABLE [dbo].[Subjects] ADD UNIQUE NONCLUSTERED 
(
	[subject_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Class_Subject]  WITH CHECK ADD  CONSTRAINT [FK_Class_Subject_Classes] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Class_Subject] CHECK CONSTRAINT [FK_Class_Subject_Classes]
GO
ALTER TABLE [dbo].[Class_Subject]  WITH CHECK ADD  CONSTRAINT [FKClass_Subj109304] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[Lectures] ([lecture_id])
GO
ALTER TABLE [dbo].[Class_Subject] CHECK CONSTRAINT [FKClass_Subj109304]
GO
ALTER TABLE [dbo].[Class_Subject]  WITH CHECK ADD  CONSTRAINT [FKClass_Subj688945] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subjects] ([subject_id])
GO
ALTER TABLE [dbo].[Class_Subject] CHECK CONSTRAINT [FKClass_Subj688945]
GO
ALTER TABLE [dbo].[Class_Subject]  WITH CHECK ADD  CONSTRAINT [FKClass_Subj765984] FOREIGN KEY([room])
REFERENCES [dbo].[Rooms] ([room_id])
GO
ALTER TABLE [dbo].[Class_Subject] CHECK CONSTRAINT [FKClass_Subj765984]
GO
ALTER TABLE [dbo].[Exam_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Schedule_Semester] FOREIGN KEY([semester_id])
REFERENCES [dbo].[Semester] ([semester_id])
GO
ALTER TABLE [dbo].[Exam_Schedule] CHECK CONSTRAINT [FK_Exam_Schedule_Semester]
GO
ALTER TABLE [dbo].[Exam_Schedule]  WITH CHECK ADD  CONSTRAINT [FKExam_Sched39290] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subjects] ([subject_id])
GO
ALTER TABLE [dbo].[Exam_Schedule] CHECK CONSTRAINT [FKExam_Sched39290]
GO
ALTER TABLE [dbo].[Exam_Schedule]  WITH CHECK ADD  CONSTRAINT [FKExam_Sched511942] FOREIGN KEY([lecture_id])
REFERENCES [dbo].[Lectures] ([lecture_id])
GO
ALTER TABLE [dbo].[Exam_Schedule] CHECK CONSTRAINT [FKExam_Sched511942]
GO
ALTER TABLE [dbo].[Excercies]  WITH CHECK ADD  CONSTRAINT [FKExcercies435330] FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subjects] ([subject_id])
GO
ALTER TABLE [dbo].[Excercies] CHECK CONSTRAINT [FKExcercies435330]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Classes] FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Classes]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FKStudents8281] FOREIGN KEY([major_id])
REFERENCES [dbo].[Majors] ([major_id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FKStudents8281]
GO
ALTER TABLE [dbo].[Students_Exam_Schedule]  WITH CHECK ADD  CONSTRAINT [FKStudents_E449250] FOREIGN KEY([exam_schedule_id])
REFERENCES [dbo].[Exam_Schedule] ([exam_schedule_id])
GO
ALTER TABLE [dbo].[Students_Exam_Schedule] CHECK CONSTRAINT [FKStudents_E449250]
GO
ALTER TABLE [dbo].[Students_Exam_Schedule]  WITH CHECK ADD  CONSTRAINT [FKStudents_E743912] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Students_Exam_Schedule] CHECK CONSTRAINT [FKStudents_E743912]
GO
ALTER TABLE [dbo].[Students_Excercies]  WITH CHECK ADD  CONSTRAINT [FKStudents_E930074] FOREIGN KEY([exercise_name])
REFERENCES [dbo].[Excercies] ([exercise_name])
GO
ALTER TABLE [dbo].[Students_Excercies] CHECK CONSTRAINT [FKStudents_E930074]
GO
ALTER TABLE [dbo].[Students_Excercies]  WITH CHECK ADD  CONSTRAINT [FKStudents_E938209] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Students_Excercies] CHECK CONSTRAINT [FKStudents_E938209]
GO
USE [master]
GO
