@page
@model StudentManagementSystem.Pages.StudentExercise.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>StudentsExcercy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentsExcercy.StudentId" class="control-label"></label>
                <select asp-for="StudentsExcercy.StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentsExcercy.ExerciseName" class="control-label"></label>
                <select asp-for="StudentsExcercy.ExerciseName" class ="form-control" asp-items="ViewBag.ExerciseName"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentsExcercy.Mark" class="control-label"></label>
                <input asp-for="StudentsExcercy.Mark" class="form-control" />
                <span asp-validation-for="StudentsExcercy.Mark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
